html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5;
  font-family: "Roboto", sans-serif;
}
body {
  background-image: url("https://i.pinimg.com/originals/ba/6c/6f/ba6c6f1291b1643378878eb41fef94c7.jpg");
  background-size: cover;
  padding-bottom: 30px;
}
.header img{
  float: left;
  width: 100px;
  height: 100px;
}
.bears {
  margin-top: 5vh;
  color: rgb(131, 92, 92);
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(48, 46, 46);
}
.bears:hover {
  background: rgb(238, 204, 130);
  transition: all 0.15s ease-out;
  transform: scale(1.15);
}
.bears figcaption:hover{
  color: white;
transition: color 0.5s ease-out;
transform: rotate(360);
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
img {
  width: 20.1vw;
  height: 27vh;
  border-radius: 15px;
}
h1 {
  text-align: center;
  font-size: 5vw;
  color: rgb(255, 255, 255);

}
figcaption {
  font-size: 20px;
  color: rgb(0, 0, 0);
}
h1:hover{
  animation-name: rotate;
  animation-duration: 1s;
  color: red;
  transition: color 1s ease-out;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg);
  }
}
