html,body,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5;

}
body{
    background-image: url("https://i.pinimg.com/originals/ba/6c/6f/ba6c6f1291b1643378878eb41fef94c7.jpg");
    background-size: cover;
}
h2{
    margin-top: 5vh;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(48, 46, 46);
}
h2:hover{ 
    background: rgb(238, 204, 130);
    transition: all 0.15s ease-out;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 20.1vw; height: 27vh;
    border-radius: 15px;
}
h1{
    text-align: center;
    font-size: 5vw;
    color: rgb(255, 255, 255);
}